body{
    background-color:#F7F7F7;
}
h1{
    margin-left:137px;
    padding:20px;
}
.col{
    color:blue;
}
.boundary{
    background-color:#FFFFFF;
    box-shadow: 0px 7px 5px #7B7B7B29; 
  
}
#sp{
    margin: 10px;
    padding: 10px;
    position: absolute;
    right: 140px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.fa-circle-plus{
    font-size:30px;
    color:blue;
}
a{
    text-decoration:none;
}
hr{
    color:#EDEDED;
}
.parent{
    /* position:absolute;
    right: 140px; */
    display:grid;
    grid-template-columns: auto auto auto;
    margin-top:30px;
    margin-left: 137px;
    gap: 10px 10px;
}
.child{
    margin:50px 20px 30px 20px;
    padding:20px;
    border: 2px solid #EDEDED;
    border-radius:10px;
    height:250px;
    width: 322px;
    background-color:#FFFFFF;
    font-size:20px;
    transition-duration: 1.2s;
}
.decoration{
    color:#C2C2C2;
    text-decoration:line-through;
}
input[type="checkbox"]:checked{
    appearance: none;
    background-color: #C2C2C2;
    height: 20px;
    width: 20px;
    margin: 0px 10px;
    border-radius:3px;
    /* padding: 5px; */
}
input[type=checkbox]:after{
    font-family:"Font Awesome 5 Free";
    content:"\f00c";
    font-weight:900;
    color:white;
    font-size:20px;
}
input[type="checkbox"]{
    background-color:#F7F7F7;
    height:20px;
    width:20px;
    margin:0px 10px;
    border-radius:3px;
    border-color:#EDEDED;
}
.align{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    width: 142px;
    padding: 10px;
}
.align2{
    display: flex;
    flex-wrap: wrap;
    width: 185px;
    align-items: center;
    /* justify-content: flex-start; */
    padding: 10px;
}
.align3{
    display:flex;
    flex-wrap:wrap;
    width:190px;
    align-items:center;
    padding:10px;
}
.bg{
    filter:blur(5px);
}   
.page2{
    border: 2px solid #7B7B7B29;
    border-radius: 15px;
    background-color: #FFFFFF;
    height: 190px;
    width: 450px;
    padding: 15px;
    position: absolute;
    top: 250px;
    left: 500px;
}
.fa-circle-xmark{
    float: right;
}
input[type="text"]{
    width:440px;
}
.add2{
background-color:#00A5EC;
width:100px;
height:30px;
padding: 7px 15px;
margin-top:20px;
margin-right:10px;   
float:right;
border-radius:5px;
display:flex;
align-items:center;
justify-content:center;
}
.link2{
color:white;
}
.icon{
    width:max-content;
   position:relative;
   left:400px;
   margin-top:50px;
   display:flex;
   align-items:center;
}

.fa-circle-arrow-left{
    margin-right:7px;
    font-size:30px;
}
.back{
    font-size:20px;
    color:black;
}
.fa-circle-plus{
    font-size:50px;
}
.add_icon3{
    width: max-content;
    position: relative;
    left: 883px;
    top: -30px;
    display: flex;
    align-items: center;
}
.child3{
    margin:50px 20px 30px 20px;
    padding:20px;
    border: 2px solid #EDEDED;
    border-radius:10px;
    height:350px;
    width: 500px;
    background-color:#FFFFFF;
    font-size:20px;
    box-shadow:0 0 40px #09030329;
    position:relative;
    left:400px;
}
@media only screen and (min-width:320px) and (max-width:480px){
    body{
        margin:0px;
    }
    /* .boundary{
        width: 100%; */
        /* padding-right: 20px; */
        /* margin: auto; */
        /* padding-right: 30px;
    } */
    h1{
       margin-left:0px;

    }
    #sp{
        position: absolute;
        right: 170px;
        top: 95px;
    }
    .parent{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        gap: 10px;
        margin: auto;
    }
    .child{
        width: 330px;
        margin-top: 40px;
    }
   
    .box1{
        grid-column:1/2;
        grid-row:1/2
    }
    .box2{
        grid-column:1/2;
        grid-row:2/3;
    }
    .box3{
        grid-column:1/2;
        grid-row:3/4;
    }
    .page2{
        border: 2px solid #7B7B7B29;
        border-radius: 15px;
        background-color: #FFFFFF;
        height: 200px;
        width: 330px;
        padding: 15px;
        position: absolute;
        /* left: 250px; */
        top: 250px;
        /* margin: auto; */
        left: 25px;
    }
    input[type="text"]{
        width: 320px;
    }
    .child3{
           /* margin: 50px 20px 30px 20px; */
        /* margin: 50px 20px 30px 20px; */
        padding: 20px;
        margin-left: 10px;
        border: 2px solid #EDEDED;
        border-radius: 10px;
        height: 350px;
        width: 340px;
        background-color: #FFFFFF;
        font-size: 20px;
        box-shadow: 0 0 40px #09030329;
        position: relative;
        left: 5px;
    }
    .icon{
        width: max-content;
        position: relative;
        left: 10px;
        margin-top: 50px;
        display: flex;
        align-items: center;
    }
    .add_icon3{
        width: max-content;
        position: relative;
        left: 200px;
        top: -45px;
        display: flex;
        align-items: center;
    }
}
@media only screen and (min-width:480px) and (max-width:1000px){
    body{
        margin:0px;
    }
    h1{
        margin-left:0px;
 
     }
     #sp{
        position: absolute;
        right: 360px;
        /* margin-bottom: 10px; */
     }
     .parent{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        gap: 10px;
        margin: auto;
        margin-top: 50px;
     }
     .child{
        width: 320px;
        margin-top: 40px;
     }
       
     
     .page2{
        border: 2px solid #7B7B7B29;
        border-radius: 15px;
        background-color: #FFFFFF;
        height: 200px;
        width: 330px;
        padding: 15px;
        position: absolute;
        top: 250px;
        /* margin: auto; */
        left: 230px;
     }
     input[type="text"]{
         width: 318px;
     }
     .child3{
            /* margin: 50px 20px 30px 20px; */
         /* margin: 50px 20px 30px 20px; */
            /* margin: 50px 20px 30px 20px; */
    /* margin: 50px 20px 30px 20px; */
         padding: 20px;
         margin-left: 10px;
         border: 2px solid #EDEDED;
         border-radius: 10px;
         height: 350px;
         width: 450px;
         background-color: #FFFFFF;
         font-size: 20px;
         box-shadow: 0 0 40px #09030329;
         position: relative;
         left: 150px;
     }
     .icon{
         width: max-content;
         position: relative;
         left: 10px;
         margin-top: 50px;
         display: flex;
         align-items: center;
     }
     .add_icon3{
        width: max-content;
        position: relative;
        left: 390px;
        top: -45px;
        display: flex;
        align-items: center;
     }

    }